@import "../../mixinsStyles/mixinsStyles.scss";

$primary-color: #868686;
$error-color: #ff2d2d;
$bg-layout-color: #ebebeba8;
$bg-form-color: #ffffff;
$bg-form-fields-color: #f1fafe;
$bg-close-button-color: transparent;
$bg-hover-close-button-color: rgb(247, 160, 160);
$bg-color-input-color: transparent;

.pop-up-window__showing-false {
  display: none;
}

.pop-up-window__showing-true {
  @include flexible();
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bg-layout-color;

  .pop-up-window__create-notes-form {
    @include flexible();
    flex-direction: column;
    width: 700px;
    height: 160px;
    margin: 0 50px 100px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: $bg-form-color;
    @include box-shadow(0px, 5px, 10px, 2px, rgba(34, 60, 80, 0.2));

    .notes-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .notes-info__field {
        margin-bottom: 5px;
        caret-color: $primary-color;

        &:focus {
          background: $bg-form-fields-color;
        }
      }

      .notes-info__field-error {
        border: 1px solid $error-color;
      }

      .notes-info__title {
        width: 100%;
        margin-right: 5px;
        font-size: 20px;

        &::placeholder {
          font-size: 22px;
        }
      }

      .notes-info__color {
        height: 90%;
        padding: 0;
        background: $bg-color-input-color;
        cursor: pointer;

        &:focus {
          background: $bg-color-input-color;
        }

        &::-webkit-color-swatch {
          border-radius: 35%;
          border: 1px solid $bg-color-input-color;
        }
      }

      .notes-info__description {
        font-size: 16px;
      }
    }

    .create-notes-form__buttons-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 5px;

      .buttons-section__close-button {
        background-color: $bg-close-button-color;

        &:hover {
          transition: 0.3s;
          background-color: $bg-hover-close-button-color;
        }
      }

      .error-message {
        margin-left: 10px;
        font-size: 12px;
        color: $error-color;
      }
    }

    .buttons-section {
      @extend .create-notes-form__buttons-section;
      justify-content: flex-end;
    }
  }
}
