$bg-color: transparent;

.input {
  width: 100%;
  padding: 11px 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $bg-color;
  transition: 0.3s;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}
