@import "../../../mixinsStyles/mixinsStyles.scss";

$card-primary-color: #141414de;
$card-text-shadow: 1px 0px 1px #ffffff9a, 1px 0 1px #2424246b;
$card-border-color: #c6bdbd;
$card-box-shadow-color: #223c5099;
$border-color-trash-can: #000000;
$bg-hover-trash-can-color: #cf3535d7;
$scrollbar-thumb-color: #28b6f6;
$scrollbar-thumb-border-color: #37104d;
$scrollbar-track-piece-color: transparent;
$animate-card: opacity 500ms, transform 500ms;

.notes-list__wrapper {
  @include flexible();
  flex-wrap: wrap;
  width: 100%;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // align-items: baseline;
  // justify-items: center;
  // grid-auto-flow: dense;
  // gap: 15px 15px;

  .notes-card {
    width: 85%;
    max-height: 400px;
    margin-bottom: 15px;
    padding: 11px 12px;
    border: 2px solid $card-border-color;
    border-radius: 10px;
    text-shadow: $card-text-shadow;
    color: $card-primary-color;
    word-break: break-all;
    overflow-wrap: break-word;
    overflow: auto;
    cursor: pointer;
    @include box-shadow(5px, 5px, 5px, -5px, $card-box-shadow-color);
    transition: 0.3s;

    &:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }

    &::-webkit-scrollbar {
      width: 8px;
      color: default;
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      border: 2px solid $scrollbar-thumb-border-color;
      border-radius: 10px;
      background: $scrollbar-thumb-color;
    }

    &::-webkit-scrollbar-track-piece {
      margin: 6px auto 6px;
      border-radius: 10px;
      background: $scrollbar-track-piece-color;
    }

    .notes-card__title {
      margin: 0 0 10px;
    }

    .notes-card__description {
      margin: 0 0 10px;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    .notes-card__trash-can {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      width: 50px;
      font-size: 30px;
      border: 2px solid $border-color-trash-can;
      border-radius: 5px;
      background-color: transparent;

      &:hover {
        background-color: $bg-hover-trash-can-color;
      }
    }
  }

  .note-enter {
    opacity: 0;
    transform: scale(0.9);
  }

  .note-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: $animate-card;
  }

  .note-exit {
    opacity: 1;
  }

  .note-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: $animate-card;
  }
}
