$button-color: #4e4d4d;
$bg-color: #96f19e;
$bg-hover-color: #76f381;
$bg-disabled-color: #dad6d67a;

.button {
  width: 105px;
  height: 38px;
  margin-right: 3px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  color: $button-color;
  background-color: $bg-color;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    background-color: $bg-hover-color;
  }
}

.button_disabled_true {
  background-color: $bg-disabled-color;
  cursor: not-allowed;

  &:hover {
    background-color: $bg-disabled-color;
  }
}
