$empty-notes-color: #868686;

.notes-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
  height: auto;
  width: 890px;
  margin: 10px auto 0;

  .notes-list__empty-notes {
    margin-top: 170px;
    font-size: 22px;
    font-weight: bold;
    color: $empty-notes-color;
    cursor: default;
  }
}
