@import "../../mixinsStyles/mixinsStyles.scss";

$bg-create-button-color: #28b6f6;
$scale: scale(1.15);

.create-notes-button {
  position: fixed;
  bottom: 50px;
  right: 85px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  background-color: $bg-create-button-color;
  @include box-shadow(0px, 4px, 10px, 2px, rgba(34, 60, 80, 0.2));

  &:hover {
    background-color: $bg-create-button-color;
    transform: $scale;
  }
}

.create-notes-button__popup-open {
  @extend .create-notes-button;
  transform: $scale;
}
