@import "../../mixinsStyles/mixinsStyles.scss";

$bg-button-color: #28b6f6;
$box-shadow-button-color: #223c5033;
$scale: scale(1.15);

.create-notes-button {
  position: fixed;
  bottom: 50px;
  right: 85px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  background-color: $bg-button-color;
  @include box-shadow(0px, 4px, 10px, 2px, $box-shadow-button-color);

  &:hover {
    background-color: $bg-button-color;
    transform: $scale;
  }
}

.create-notes-button_modal_open {
  @extend .create-notes-button;
  transform: $scale;
}
