$bg-color: transparent;
$scrollbar-thumb-color: #28b6f6;
$scrollbar-track-piece-color: #f1fafe;

.textarea {
  width: 100%;
  height: 50px;
  padding: 11px 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $bg-color;
  resize: none;
  transition: 0.3s;

  &::-webkit-scrollbar {
    width: 7px;
    color: default;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar-thumb-color;
  }

  &::-webkit-scrollbar-track-piece {
    margin: 6px auto 6px;
    border-radius: 10px;
    background: $scrollbar-track-piece-color;
  }
}
