$search-form-color: #868686;
$bg-header-lines-color: #f5f5f5;
$bg-search-form-color: #f5f5f5;
$bg-header-lines-color: #f5f5f5;
$bg-header-lines-color: #f5f5f5;

.header {
  margin: 5px;
  .header__line {
    background: $bg-header-lines-color;
  }

  .search-form {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto 10px;

    .search-form__input {
      width: 800px;
      height: 42px;
      border-radius: 0px 5px 5px 0px;
      font-size: 16px;
      background: $bg-search-form-color;

      &::placeholder {
        font-size: 15px;
      }
    }

    .search-form__button {
      width: initial;
      height: initial;
      margin: 0;
      padding-left: 16px;
      border-radius: 5px 0px 0px 5px;
      font-size: 15px;
      background-color: $bg-search-form-color;

      .search-form__icon-logo {
        box-sizing: content-box;
        padding: 7px;
        border-radius: 50%;
        color: $search-form-color;
        transform: scale(1);
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: rgba(165, 164, 164, 0.397);
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
    }
  }
}
