$scrollbar-thumb-color: #28b6f6;
$scrollbar-thumb-shadow-color: #ffffff66;
$scrollbar-track-piece-color: #37104d;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #28b6f6;
    box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-color;
  }

  &::-webkit-scrollbar-track-piece {
    background: $scrollbar-track-piece-color;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
